# Chapter 3

## Vectors

In [1]:
sales.by.month <- c(0, 100, 200, 50, 0, 0, 0, 0, 0, 0, 0, 0)
sales.by.month

 [1]   0 100 200  50   0   0   0   0   0   0   0   0

Indexing - just like python

In [2]:
febuary.sales <- sales.by.month[2]
febuary.sales

[1] 100

altering elements of a vector

In [3]:
sales.by.month[5] <- 25
sales.by.month

 [1]   0 100 200  50  25   0   0   0   0   0   0   0

does this automatically do a deep copy?

In [4]:
test_var <- sales.by.month[10]
print(test_var)

sales.by.month[10] <- 25
print(test_var)

[1] 0
[1] 0

Other useful stuff about vectors

In [5]:
# length
len = length(sales.by.month)
print(len)

# alter all elements at once
sales_mult = sales.by.month * 7
print(sales_mult)

# dividing two vectors
days.per.month <- c(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
profit <- sales.by.month * 7
daily = profit / days.per.month
print(daily)

[1] 12
 [1]    0  700 1400  350  175    0    0    0    0  175    0    0
 [1]  0.000000 25.000000 45.161290 11.666667  5.645161  0.000000  0.000000
 [8]  0.000000  0.000000  5.645161  0.000000  0.000000

When initially writing this, I missed a zero in sales.by.month. R only threw a warning, not an exception when the vectors were different lengths

## Text data

Strings are single elements

In [6]:
greeting <- "hello"
print(greeting[1])

[1] "hello"

vector of strings

In [7]:
months <- c("January", "Feburary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
print(months)

 [1] "January"   "Feburary"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

In [8]:
print(months[4])

[1] "April"

number of chars in a string

In [9]:
nchar(greeting)

[1] 5

nchar on vectors

In [10]:
nchar(months)

 [1] 7 8 5 5 3 4 4 6 9 7 8 8

## Boolean data

basically the same as python, except is doesnt look like you can use `and` or `or`.<br>
reserved words for booleans are TRUE or FALSE (all caps)<br>
can do T or F as a shortcut (but they are not reserved words)

vectors of booleans (again, basically the same a python

In [11]:
x <- c(TRUE, TRUE, TRUE)
x

[1] TRUE TRUE TRUE

In [12]:
sales.by.month > 0

 [1] FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE

## Indexing

In [13]:
sales.by.month[c(4, 3, 2)]

[1]  50 200 100

In [14]:
sales.by.month[2:8]

[1] 100 200  50  25   0   0   0

indexing seems to be the same as with numpy


can also do logical indexing

In [15]:
months[sales.by.month > 0]

[1] "Feburary" "March"    "April"    "May"      "October"

In [16]:
stock.levels = c("high", "high", "low", "out", "out", "high", "high", "high", "high", "high", "high", "high")

months[stock.levels == "out"]

[1] "April" "May"

In [17]:
months[stock.levels == "out" | stock.levels == "low"]

[1] "March" "April" "May"

# Chapter 4

\# = comment

In [18]:
seeker <- 3.14158        # create the first variable
lover <- 2.7183          # create the second variable
keeper <- seeker * lover # now multiply them to create a third one
print(keeper)

[1] 8.539757

## Installing / loading packages

(slightly easier with R studio)

In [19]:
exists("read.spss")

[1] FALSE

In [20]:
library(foreign)

In [21]:
exists("read.spss")

[1] TRUE

In [22]:
detach("package:foreign", unload=T)
exists("read.spss")

[1] FALSE

Downloading packages

In [23]:
# install.packages("psych")

In [24]:
# install.packages("lsr")
# install.packages("car")

## Managing the workspace

In [25]:
objects()

 [1] "daily"          "days.per.month" "febuary.sales"  "greeting"
 [5] "keeper"         "len"            "lover"          "months"
 [9] "profit"         "sales_mult"     "sales.by.month" "seeker"
[13] "stock.levels"   "test_var"       "x"

In [26]:
library(lsr)
who()

   -- Name --       -- Class --   -- Size --
   daily            numeric       12
   days.per.month   numeric       12
   febuary.sales    numeric        1
   greeting         character      1
   keeper           numeric        1
   len              integer        1
   lover            numeric        1
   months           character     12
   profit           numeric       12
   sales_mult       numeric       12
   sales.by.month   numeric       12
   seeker           numeric        1
   stock.levels     character     12
   test_var         numeric        1
   x                logical        3

removing variables from the workspace

In [27]:
rm(seeker, lover)

In [28]:
who()

   -- Name --       -- Class --   -- Size --
   daily            numeric       12
   days.per.month   numeric       12
   febuary.sales    numeric        1
   greeting         character      1
   keeper           numeric        1
   len              integer        1
   months           character     12
   profit           numeric       12
   sales_mult       numeric       12
   sales.by.month   numeric       12
   stock.levels     character     12
   test_var         numeric        1
   x                logical        3

## Navigating the file system

In [29]:
getwd()

[1] "/home/alex/Documents/GitHub/Data-science-notes/R"

In [30]:
setwd("..")

In [31]:
getwd()

[1] "/home/alex/Documents/GitHub/Data-science-notes"

In [32]:
setwd("./R")

In [33]:
getwd()

[1] "/home/alex/Documents/GitHub/Data-science-notes/R"

In [34]:
list.files()

[1] "booksales.Rdata"
[2] "Learning Statistics with R chapter 3-4.ipynb"

In [35]:
setwd("..")
list.files()

[1] "Other"      "Python"     "R"          "Statistics" "Tableau"
[6] "textbooks"

In [36]:
path.expand("~")

[1] "/home/alex"

## Loading and saving data

3 important file types:<br>
- workspace files (.Rdata) - saves whole workspace (data and variables)
- .csv
- script files: .R

In [37]:
getwd()

[1] "/home/alex/Documents/GitHub/Data-science-notes"

In [38]:
setwd("./R")

In [39]:
getwd()

[1] "/home/alex/Documents/GitHub/Data-science-notes/R"

In [40]:
objects()

 [1] "daily"          "days.per.month" "febuary.sales"  "greeting"
 [5] "keeper"         "len"            "months"         "profit"
 [9] "sales_mult"     "sales.by.month" "stock.levels"   "test_var"
[13] "x"

Use load to load a workspace file

In [41]:
load("booksales.Rdata")

In [43]:
who()

   -- Name --               -- Class --   -- Size --
   any.sales.this.month     logical       12
   average.daily.sales      numeric       12
   daily                    numeric       12
   days.per.month           numeric       12
   february.sales           numeric        1
   febuary.sales            numeric        1
   greeting                 character      1
   hourly.wage              numeric        1
   hours.writing.per.week   numeric        1
   keeper                   numeric        1
   len                      integer        1
   months                   character     12
   profit                   numeric       12
   revenue                  numeric        1
   royalty                  numeric        1
   sales                    numeric        1
   sales_mult               numeric       12
   sales.by.month           numeric       12
   stock.levels             character     12
   test_var                 numeric        1
   total.writing.hours      numeric        1
   weeks.writing            numeric        1
   x                        logical        3

Loading a csv file

use read.csv(),read.table() does basically the same thing

In [45]:
books <- read.csv(file="booksales.csv")
books

   Month     Days Sales Stock.Levels
1  January   31     0   high
2  February  28   100   high
3  March     31   200   low
4  April     30    50   out
5  May       31     0   out
6  June      30     0   high
7  July      31     0   high
8  August    31     0   high
9  September 30     0   high
10 October   31     0   high
11 November  30     0   high
12 December  31     0   high

books is a DataFrame- this is what inspired pandas

Saving workspace files

In [46]:
who()

   -- Name --               -- Class --   -- Size --
   any.sales.this.month     logical       12
   average.daily.sales      numeric       12
   books                    data.frame    12 x 4
   daily                    numeric       12
   days.per.month           numeric       12
   february.sales           numeric       1
   febuary.sales            numeric       1
   greeting                 character     1
   hourly.wage              numeric       1
   hours.writing.per.week   numeric       1
   keeper                   numeric       1
   len                      integer       1
   months                   character     12
   profit                   numeric       12
   revenue                  numeric       1
   royalty                  numeric       1
   sales                    numeric       1
   sales_mult               numeric       12
   sales.by.month           numeric       12
   stock.levels             character     12
   test_var                 numeric       1
   total.writing.hours      numeric       1
   weeks.writing            numeric       1
   x                        logical       3

In [47]:
save.image("all_vars_20210713.Rdata")

save some variables

In [48]:
save(sales_mult, weeks.writing, file="somedata_20210713.Rdata")

## Other useful things about variables

special values: <br>
- `Inf`
- `NaN` (not a number- still treated as numeric) - there is a value but its insane (0/0)
- `NA`(not available- something is missing) - there is supposed to be a value there
- `NULL` - No value whatsoever

naming vector elements

In [49]:
profit <- c(3.1, 0.1, -1.4, 1.1)
print(profit)

[1]  3.1  0.1 -1.4  1.1

In [50]:
names(profit) <- c("Q1", "Q2", "Q3", "Q4")
print(profit)

  Q1   Q2   Q3   Q4
 3.1  0.1 -1.4  1.1

This is kind of like the indices for a pandas series

delete the names

In [52]:
names(profit) <- NULL
print(profit)

[1]  3.1  0.1 -1.4  1.1

In [53]:
profit <- c("Q1" = 3.1, "Q2" = 0.1, "Q3" = -1.4, "Q4" = 1.1)
print(profit)

  Q1   Q2   Q3   Q4
 3.1  0.1 -1.4  1.1

In [54]:
profit["Q1"]

 Q1
3.1

These names work a lot like key-value pairs in a python dictionary

variable classes:

- class()
- mode()
- type()

In [55]:
class(profit["Q1"])

[1] "numeric"

In [56]:
mode(profit["Q1"])

[1] "numeric"

In [57]:
typeof(profit["Q1"])

[1] "double"

## Factors

numeric already works with ratio scale data

In [58]:
# response time for 5 different events
RT <- c(342, 401, 590, 391, 554)

May also work with interval scale data- just remember not to do any multiplication or division since that would be meaningless

can also tolerate numerical values for ordinal data (i.e. ranking items)

absolutely terrible for nominal scale data- that's where **factors** come in

ex: tracking who had what set of instructions

In [60]:
group <- c(1, 1, 1, 2, 2, 2, 3, 3, 3)
group <- as.factor(group)
group

[1] 1 1 1 2 2 2 3 3 3
Levels: 1 2 3

In [61]:
class(group)

[1] "factor"

In [62]:
group + 2

Warning message in Ops.factor(group, 2):
+ not meaningful for factors

[1] NA NA NA NA NA NA NA NA NA

**levels**

In [72]:
gender <- as.factor(c(1, 1, 1, 1, 1, 2, 2, 2, 2))
print(gender)

[1] 1 1 1 1 1 2 2 2 2
Levels: 1 2

In [73]:
levels(group) <- c("group 1", "group 2", "group 3")
print(group)

[1] group 1 group 1 group 1 group 2 group 2 group 2 group 3 group 3 group 3
Levels: group 1 group 2 group 3

In [74]:
levels(gender) <- c("male", "female")
print(gender)

[1] male   male   male   male   male   female female female female
Levels: male female

## Data frames

In [75]:
age <- c(17, 19, 21, 37, 18, 19, 47, 18, 19)
score <- c(12, 10, 11, 15, 16, 14, 25, 21, 29)

In [77]:
expt <- data.frame(age, gender, group, score)
expt

  age gender group   score
1 17  male   group 1 12
2 19  male   group 1 10
3 21  male   group 1 11
4 37  male   group 2 15
5 18  male   group 2 16
6 19  female group 2 14
7 47  female group 3 25
8 18  female group 3 21
9 19  female group 3 29

expt is completely independent from the variables used to make it. Changing or deleting `age` will NOT change the age column in expt

Extract column from expt

In [78]:
expt$score

[1] 12 10 11 15 16 14 25 21 29

In [79]:
names(expt)

[1] "age"    "gender" "group"  "score"

In [80]:
who(expand = TRUE)

   -- Name --               -- Class --   -- Size --
   age                      numeric       9
   any.sales.this.month     logical       12
   average.daily.sales      numeric       12
   books                    data.frame    12 x 4
    $Month                  factor        12
    $Days                   integer       12
    $Sales                  integer       12
    $Stock.Levels           factor        12
   daily                    numeric       12
   days.per.month           numeric       12
   expt                     data.frame    9 x 4
    $age                    numeric       9
    $gender                 factor        9
    $group                  factor        9
    $score                  numeric       9
   february.sales           numeric       1
   febuary.sales            numeric       1
   gender                   factor        9
   greeting                 character     1
   group                    factor        9
   hourly.wage              numeric       1
   hours.writing.per.week   numeric       1
   keeper                   numeric       1
   len                      integer       1
   months                   character     12
   profit                   numeric       4
   revenue                  numeric       1
   royalty                  numeric       1
   RT                       numeric       5
   sales                    numeric       1
   sales_mult               numeric       12
   sales.by.month           numeric       12
   score                    numeric       9
   stock.levels             character     12
   test_var                 numeric       1
   total.writing.hours      numeric       1
   weeks.writing            numeric       1
   x                        logical       3

## Lists

access elements the same way you would access them in a df

In [81]:
Danielle <- list(age=34, nerd=TRUE, parents=c("Joe", "Liz"))
print(Danielle)

$age
[1] 34

$nerd
[1] TRUE

$parents
[1] "Joe" "Liz"

In [82]:
Danielle$nerd

[1] TRUE

new entry into list

In [83]:
Danielle$children <- "Bob"

Lists can also contain other lists

## Formulas

a variable that specifies a relationship between 2 other variables.

In [84]:
formula1 <- out ~ pred
formula1

out ~ pred

R doesn't care if out or pred actually exist

Generally, this means "The out (outcome) variable, analyzed in terms of the pred (predictor) variable"

other formats:

In [85]:
formula2 <- out ~ pred1 + pred2
formula3 <- out ~ pred1 * pred2
formula4 <- ~ var1 + var2

## Generic functions

print(), summary(), plot(), ect. 

Changes behavior based on class

In [86]:
my.formula <- blah ~ blah.blah
print(my.formula)

blah ~ blah.blah

print() checks the class of the var, then calls the method associated with that class (method dispatch)

In [87]:
print.formula(my.formula)

ERROR: Error in print.formula(my.formula): could not find function "print.formula"

(I'm assuming this is some kind of version issue)

If no dedicated method could be found, then resort to the default function

In [88]:
print.default(my.formula)

blah ~ blah.blah
attr(,"class")
[1] "formula"
attr(,".Environment")
<environment: R_GlobalEnv>

## help documentation

In [89]:
?load

In [90]:
help(load)

fuzzy search

In [91]:
??load

In [92]:
help.search("load")